.parent-container{

}
.right-container{
    float: right;
    display: flex;
    width: 20%;
    gap: 20px;
    flex-direction: column;
    margin-right: 10%;

}
.name-div{
    font-size: larger;
    color:black;
}