/* Sidelist.css */
.drawerHeader {
    background-color: #e91e63; /* Rose color */
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px;
  }
  
  .listItem {
    background-color: #f8bbd0; /* Light rose color */
    margin: 8px 0;
    border-radius: 8px;
  }
  
  .listItemButton {
    transition: background-color 0.3s;
    border-radius: 8px;
  }
  
  .listItemButton:hover {
    background-color: #f06292; /* Hover rose color */
  }
  
  .listItemIcon {
    color: #e91e63; /* Icon color */
  }
  
  .listItemText {
    color: #e91e63; /* Text color */
  }
  
  .mainContent {
    padding: 24px;
  }
  