.promotion{
    float: left;
    background-color: red;
    color: white;
}
.all-details{
    float: right;
    background-color: white;
}
.image-container{
    display: flex;
    justify-content:center ;
}
.container{
    width: 400px;
    background-color: #F2F3F4;
}
.add-to-cart{
    background-color: black;
    color: white;
    border-radius: 4px;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
}
.price{
    color: red;
}