.Loginbut{
    margin-bottom: 35px;
    /* margin: top -9px; */
    color: rgb(0, 0, 0);
    background-color: rgb(207, 206, 206);
    border-radius: 3px;
    border-color: transparent;
    width: 5px;
    text-align: center;
    margin-left: 5%;
    width: 200px;
    height: 70px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: large;
}
.Loginbut :hover{
    cursor:pointer;
}
.firs{
    display: flex;
    justify-content: space-between;
}
.Loginbutton{
    margin-bottom: 35px;
    /* margin: top -9px; */
    color: rgb(0, 0, 0);
    background-color: rgb(250, 48, 3);
    border-radius: 3px;
    border-color: transparent;
    width: 5px;
    text-align: center;
    margin-left: 5%;
    width: 3px;
    height: 50px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: large;
}
.Loginbutton :hover{
    cursor:pointer;
}
